/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 20px;
  background-color: white;
  color: black;
}

header,
nav,
section,
div,
aside,
footer {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0 50px;
}
.itemHidden {
  display: none;
}
.showBtn {
  display: block !important;
}

.closeBtn {
  display: none !important;
}

#load {
  display: block;
  text-align: center;
}

#btnViewMore {
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  color: #58c75c;
  font-size: 30px;
  border: 0;
  border-radius: 10px;
  transition: all 0.5s;
}
#btnViewMore:hover {
  background-color: #58c75c;
  color: black;
}

#label {
  margin: 0 0 100px 0;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

/*------------------ start header ------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  overflow: hidden;
  padding: 8px 20px;
  background-color: white;
  border-bottom: 5px solid #58c75c;
}
header #headerMenu {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}
header #headerMenu #headerLogo {
  cursor: pointer;
  width: 20%;
}
header #headerMenu #headerLogo img {
  object-fit: contain;
}
header #headerMenu #headerNavBar {
  width: 80%;
  text-align: right;
}
header #headerMenu #headerNavBarBtnCollaspe {
  width: 0%;
  display: none;
  padding-right: 10px;
  text-align: right;
}
header #headerMenu #headerNavBarBtnCollaspe button {
  background-color: transparent;
  color: black;
  font-size: 30px;
  border: 0;
  cursor: pointer;
}
header #headerMenu #headerNavBar ul {
  float: right;
  list-style: none;
  display: flex;
  align-items: center;
}
header #headerMenu #headerNavBar ul li {
  margin-left: 30px;
}
header #headerMenu #headerNavBar ul li input[type="search"] {
  font-size: 30px;
  width: 250px;
  border-radius: 10px;
}
header #headerMenu #headerNavBar ul li a {
  font-size: 30px;
  font-weight: 600;
  color: black;
  transition: all 0.5s;
}
header #headerMenu #headerNavBar ul li button {
  font-size: 30px;
  font-weight: 600;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
header #headerMenu #headerNavBar ul li#liSearch {
  position: relative;
}
header #headerMenu #headerNavBar ul li button#liBtnSearch {
  position: absolute;
  top: 2px;
  right: 4px;
  background-color: white;
  border-radius: 10px;
}
header #headerMenu #headerNavBar ul li a:hover,
header #headerMenu #headerNavBar ul li button:hover,
header #headerMenu #headerNavBarBtnCollaspe button:hover {
  color: #58c75c;
}
header #headerMenu #headerNavBar #headNavAccount,
header #headerMenu #headerNavBar #headNavCollapseAccount {
  position: relative;
  height: auto;
}

header #headerMenu #headerNavBar #headNavAccount button#accountUser {
  border-radius: 50%;
  font-size: 24px;
  background-color: #58c75c;
  padding: 10px;
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
}
header #headerMenu #headerNavBar #headNavAccount #headerAccountDropdown {
  position: fixed;
  right: 0;
  top: 106px;
  width: auto;
  height: auto;
  text-align: left;
  background-color: #58c75c;
  padding: 30px;
  z-index: 999;
  color: white;
}
header #headerMenu #headerNavBar #headNavAccount #headerAccountDropdown h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
header #headerMenu #headerNavBar #headNavAccount #headerAccountDropdown p {
  font-size: 20px;
  text-align: left;
  margin-bottom: 20px;
}
header #headerMenu #headerNavBar #headNavAccount #headerAccountDropdown button {
  width: 100%;
  font-size: 24px;
  background-color: red;
  color: black;
  padding: 8px 0;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.5s;
}
header
  #headerMenu
  #headerNavBar
  #headNavAccount
  #headerAccountDropdown
  button:hover {
  color: white;
}

#menuCollapse {
  padding: 20px 30px;
  background-color: #58c75c;
  width: auto;
  position: fixed;
  top: 77px;
  z-index: 999;
  right: 0;
}
#menuCollapse #headNavCollapseAccount button {
  display: block;
  margin-bottom: 15px;
}
#menuCollapse ul,
#menuCollapse ol {
  list-style: none;
}
#menuCollapse ol {
  padding: 20px 0 10px 30px;
}
#menuCollapse ul ol li {
  font-size: 25px;
  padding: 10px 0;
}
#menuCollapse ul li {
  font-size: 30px;
  padding: 10px 0;
}
#menuCollapse button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: black;
  transition: all 0.5s;
}
#menuCollapse a {
  color: black;
  transition: all 0.5s;
}
#menuCollapse a:hover,
#menuCollapse button:hover {
  color: whitesmoke;
}
#menuCollapse ul li input[type="search"] {
  font-size: 30px;
  width: 300px;
  border-radius: 10px;
}

/*------------------ end header ------------------------*/

/*------------------ start menu drop down ------------------------*/
#itemMenuDropDown {
  position: fixed;
  background: #d7d7da;
  width: 100%;
  left: 0;
  top: 110px;
  z-index: 999;
  overflow: hidden;
}
#itemMenuDropDown .itemMenu {
  float: left;
  padding: 24px 60px;
  text-align: center;
}
#itemMenuDropDown .itemMenu:first-child {
  border-right: 2px solid white;
}
#itemMenuDropDown .itemMenu .itemMenu2 {
  display: flex;
  align-items: center;
}
#itemMenuDropDown .itemMenu .itemMenu2 div {
  margin: 0 20px;
}
#itemMenuDropDown .itemMenu p {
  color: black;
  cursor: pointer;
}
#itemMenuDropDown .itemMenu p:hover {
  color: #58c75c;
}
#itemMenuDropDown .itemMenu h4 {
  padding-bottom: 20px;
  font-weight: normal;
}
/*------------------ end menu ------------------------*/

/*------------------ start banner ------------------------*/
#banner {
  margin: 110px 0 0 0;
  width: 100%;
}
#banner div img {
  width: 100%;
  height: 600px;
  -o-object-fit: fit-content;
  object-fit: fit-content;
}

/*------------------ end banner ------------------------*/

/*------------------ start special product home page ------------------------*/
#special {
  margin: 100px 0;
}
#specialContent {
  display: flex;
}
#specialContent #specialContentContext {
  width: 60%;
  margin: 0 50px;
}
#specialContent #specialContentContext p {
  padding-bottom: 10px;
  font-size: 20px;
  text-align: justify;
  line-height: 35px;
}
#specialContent #specialContentContext ul {
  list-style: none;
}
#specialContent #specialContentContext ul li {
  line-height: 30px;
}
#specialProduct {
  width: 40%;
  position: relative;
  max-height: 500px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.specialProMenu {
  position: absolute;
  top: 2;
  background: white;
  z-index: 900;
  width: 100%;
}

.specialProMenu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50px;
  margin: 0 0.2em 1em;
  transition: all 0.3s ease;
}
.specialProMenu label:hover {
  background: red;
}
.slide {
  width: 100%;
  position: absolute;
  left: 100%;
  z-index: 10;
  background-color: white;
  transition: left 0s 0.75s;
  cursor: pointer;
}
.slide img {
  width: 300px;
  height: 300px;
}
.slide p {
  font-size: 20px;
}
[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

/*------------------ start product card ------------------------*/
#productCart {
  margin: 100px 0;
}
#productCart #listCart {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 30px 0;
  gap: 40px;
}
#productCart #listCart #itemCart {
  padding: 20px;
  width: 440px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.2);
}
#productCart #listCart #itemCart p {
  padding: 5px 0;
}
#productCart #listCart #itemCart p:first-child {
  text-align: right;
}
#productCart #listCart #itemCart:hover {
  box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.4);
}
#productCart #listCart #itemCart img {
  width: 100%;
  height: 350px;
}
#productCart #proBtnSort button {
  background-color: #58c75c;
  color: white;
  font-size: 26px;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
#productCart #proBtnSort button:hover {
  background-color: white;
  color: #58c75c;
  border: 1px solid #58c75c;
}
.color-changing-text {
  font-weight: bold;
  animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}
/*------------------ end product ------------------------*/

/*------------------ start login ------------------------*/
#login-page {
  padding: 100px 0;
}

#form {
  width: 500px;
  margin: 0 auto;
}
#form form {
  border: 2px solid #58c75c;
  box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.2);
  padding: 30px;
  border-radius: 15px;
}
#form form label {
  display: block;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  margin: 20px 0;
}
#form form label:first-child {
  text-align: center;
  font-size: 30px;
  margin-top: 0;
}
#form form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 22px;
  color: #565659;
  border: 2px solid #58c75c;
  border-radius: 10px;
}
#form form button {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: #58c75c;
  cursor: pointer;
  transition: 0.5s;
}
#form form button:hover {
  background-color: white;
  border: 1px solid #58c75c;
  color: #58c75c;
}
#form form span {
  color: red;
}
/*------------------ end login ------------------------*/

/*------------------ start detail ------------------------*/
#detailProduct {
  margin: 100px 0;
}
#detailProduct #detailContent {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#detailProduct #detailContent img {
  width: 600px;
  height: 400px;
  object-fit: contain;
}
#detailProduct #detailContent #detailInfo h1 {
  letter-spacing: 5px;
  color: #565659;
  margin-bottom: 30px;
}
#detailProduct #detailContent #detailInfo p {
  margin-bottom: 20px;
}
#detailProduct #detailContent #detailInfo button {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 40px;
  border: 0;
  border-radius: 10px;
  background-color: #58c75c;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
#detailProduct #detailContent #detailInfo button:hover {
  color: #58c75c;
  background-color: white;
  border: 1px solid #58c75c;
}
#detailProduct #detailFullInfo {
  margin: 50px 0;
  text-align: center;
}
#detailProduct #detailFullInfo h1 {
  margin-bottom: 50px;
  text-align: left;
}
#detailProduct #detailFullInfo h3 {
  color: #58c75c;
}
#detailProduct #detailFullInfo img {
  width: 700px;
  height: 500px;
  object-fit: contain;
}
#detailProduct #detailFullInfo h6 {
  color: rgb(142, 140, 140);
  margin-bottom: 30px;
}
#detailProduct #detailFullInfo h5 {
  color: #58c75c;
  font-size: 20px;
  text-align: left;
  margin-bottom: 30px;
}
#detailProduct #detailFullInfo p {
  text-align: justify;
  line-height: 35px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
#detailProduct #detailFullInfo div button {
  font-size: 24px;
  background-color: #58c75c;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
  transition: 0.5s;
}
#detailProduct #detailFullInfo div button:hover {
  background-color: white;
  color: #58c75c;
  border: 1px solid #58c75c;
}
/*------------------ end detail ------------------------*/

/*------------------ start about ------------------------*/
#about {
  margin: 100px 0;
}
#about #aboutInfo {
  text-align: justify;
  line-height: 35px;
}
#about #aboutGroup {
  margin: 50px 0;
  display: flex;
  gap: 30px;
}
#about #aboutGroup #aboutMember {
  margin: 0 auto;
  padding: 20px;
  width: 33.33%;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.2);
}
#about #aboutGroup #aboutMember:hover {
  box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.4);
}
#about #aboutGroup #aboutMember img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}
#about #aboutGroup #aboutMember h1 {
  font-size: 26px;
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}
#about #aboutGroup #aboutMember p {
  margin: 20px 0;
}
#about #aboutGroup #aboutMember p:last-child {
  margin: 20px 0;
  font-size: 16px;
}
#about #aboutGroup #aboutMember p:last-child br {
  display: none;
}

/*------------------ end about ------------------------*/

/*------------------ start contact ------------------------*/
#contact {
  margin: 100px 0;
}
#contact #contactContent {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#contactContent #contact-form {
  padding: 30px 50px;
  margin: 0 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.2);
}
#contactContent #contact-form label {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
  color: #58c75c;
}
#contactContent #contact-form input,
#contactContent #contact-form textarea {
  font-size: 20px;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
}
#contactContent #contact-form button {
  font-size: 28px;
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #58c75c;
  padding: 10px 40px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
#contactContent #contact-form button:hover {
  color: #58c75c;
  border: 1px solid #58c75c;
  background-color: white;
}
#contactContent #contact-map #contactInfo {
  margin: 50px 50px 50px 0;
}
#contactContent #contact-map #contactInfo p {
  letter-spacing: 5px;
  padding-right: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
/*------------------ end contact ------------------------*/

/*------------------ start cart page ------------------------*/
#cartPage {
  margin: 100px 0;
}
#cartPage #cartPageContent {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
#cartPage #cartPageContent #cartList {
  display: flex;
  margin: 0 50px 30px 0;
  padding: 20px 0;
  border-bottom: 1px solid #565659;
}
#cartPage #cartPageContent #cartList h1 {
  color: #58c75c;
  font-size: 30px;
  margin-bottom: 30px;
}
#cartPage #cartPageContent #cartList p {
  margin-bottom: 30px;
}
#cartPage #cartPageContent #cartList #cartImage {
  width: 40%;
  text-align: center;
}
#cartPage #cartPageContent #cartList #cartImage img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 150px;
}
#cartPage #cartPageContent #cartList #cartImage button {
  font-size: 20px;
  color: white;
  background-color: #58c75c;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}
#cartPage #cartPageContent #cartList #cartInfo {
  width: auto;
}
#cartPage #cartPageContent #cartForm {
  background-color: #58c75c;
  height: fit-content;
  margin: 0 30px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.2);
}
#cartPage #cartPageContent #cartForm h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
#cartPage #cartPageContent #cartForm label {
  display: block;
  font-size: 24px;
  color: white;
  margin: 20px 0;
}
#cartPage #cartPageContent #cartForm input,
#cartPage #cartPageContent #cartForm textarea {
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
}
#cartPage #cartPageContent #cartForm button {
  width: 100%;
  margin: 20px 0;
  padding: 10px 0;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: white;
  color: #58c75c;
  font-size: 24px;
  cursor: pointer;
}
/*------------------ end cart page ------------------------*/

/*------------------ start footer ------------------------*/
footer {
  height: auto;
  width: 100%;
  background: #58c75c;
}
footer #footer-item {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
footer #footer-item div p {
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0;
  cursor: pointer;
  transition: all 0.5s;
}
footer #footer-item div h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 50px 0;
}
footer #footer-item div p:hover {
  color: white;
}
footer #footer-item div #footer-logo {
  margin-bottom: 30px;
  cursor: pointer;
}
#footer-item #footer-form form {
  width: 100%;
  margin-bottom: 20px;
}
#footer-item #footer-form form div {
  width: 100%;
}
#footer-item #footer-form form input[type="text"] {
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 20px;
}
#footer-item #footer-form form textarea {
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px 10px;
}
#footer-item #footer-form form button {
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #565659;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
#footer-item #footer-form form button:hover {
  color: white;
  border: 2px solid white;
}
footer #footer-item #footer-link a {
  color: black;
  transition: 0.5s;
}
footer #footer-item #footer-link a:hover {
  color: white;
}
footer #footer-copy-right {
  display: block;
  background-color: black;
  padding: 30px 0;
}
footer #footer-copy-right p {
  color: white;
  font-size: 25px;
  text-align: center;
}
/*------------------ end footer ------------------------*/
