/** @format */
/*--max-width--*/
@media screen and (max-width: 1400px) {
  header #headerMenu #headerLogo {
    width: 20%;
  }
  header #headerMenu #headerNavBar {
    width: 80%;
    text-align: right;
  }
  #productCart {
    margin: 50px 0;
  }
  #productCart #listCart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;
    gap: 20px;
  }
  #productCart #listCart #itemCart {
    padding: 20px;
    width: auto;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.2);
  }
  #productCart #listCart #itemCart img {
    width: 100%;
    height: 300px;
  }
  #about {
    padding: 50px;
  }
}
@media screen and (max-width: 1280px) {
  header #headerMenu {
    display: flex;
    align-items: center;
    padding: 0;
  }
  header #headerMenu #headerLogo {
    width: 20%;
  }
  header #headerMenu #headerNavBar {
    width: 80%;
    text-align: right;
  }
  #banner {
    margin: 94px 0 0 0;
    width: 100%;
  }
  #banner div img {
    width: 100%;
    height: 655px;
  }
  #specialProduct {
    padding-top: 10px;
    width: 40%;
    /* height: 300px; */
  }
  /*------------------ start cart page ------------------------*/
  #cartPage {
    margin: 100px 0;
  }
  #cartPage #cartPageContent {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  #cartPage #cartPageContent #cartList {
    display: flex;
    margin: 0 30px 30px 0;
    padding: 15px 0;
  }
  #cartPage #cartPageContent #cartList h1 {
    color: #58c75c;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  #cartPage #cartPageContent #cartList p {
    margin-bottom: 30px;
  }
  #cartPage #cartPageContent #cartList #cartImage {
    width: 40%;
  }
  #cartPage #cartPageContent #cartList #cartImage img {
    width: 100%;
    height: 200px;
  }
  #cartPage #cartPageContent #cartList #cartInfo {
    width: auto;
  }
  #cartPage #cartPageContent #cartForm {
    margin: 0;
    padding: 30px 20px;
  }
  #cartPage #cartPageContent #cartForm h1 {
    line-height: 30px;
  }
  /*------------------ end cart page ------------------------*/
}
@media screen and (max-width: 992px) {
  header #headerMenu {
    padding: 0;
  }
  header #headerMenu #headerLogo img {
    object-fit: contain;
    width: 150px;
  }
  header #headerNavBar,
  #itemMenuDropDown {
    display: none;
  }
  header #headerMenu #headerNavBarBtnCollaspe {
    width: 80%;
    display: block;
  }
  #menuCollapse {
    display: block;
  }
  #banner {
    margin: 77px 0 50px 0;
  }
  #banner div img {
    width: 100vw;
    height: 500px;
  }
  #special {
    margin: 100px 0;
    /* padding: 0 20px; */
    height: 100%;
  }
  #specialContent {
    display: block;
    width: 100%;
    height: 100%;
  }
  #specialProduct {
    width: 100%;
    height: 500px;
  }
  #specialContent #specialContentContext {
    width: 100%;
    margin: 0;
    display: block;
  }
  .specialProMenu {
    height: fit-content;
  }
  .slide {
    padding: 0 20px;
    height: 100%;
  }
  .slide img {
    object-fit: fill;
    width: 500px;
    height: 450px;
  }
  .slide p {
    font-size: 20px;
  }
  #detailProduct {
    margin: 50px 0;
    padding: 0 30px;
  }
  #detailProduct #detailContent {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  #detailProduct #detailContent img {
    width: 400px;
    height: 400px;
    object-fit: contain;
  }
  #detailProduct #detailContent #detailInfo h1 {
    font-size: 40px;
    line-height: 40px;
    text-align: left;
  }
  #detailProduct #detailContent #detailInfo p {
    font-size: 20px;
  }
  #detailProduct #detailContent #detailInfo button {
    font-size: 28px;
  }
  #detailProduct #detailFullInfo h1 {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: left;
  }
  #detailProduct #detailFullInfo h3 {
    font-size: 30px;
    line-height: 30px;
  }
  #detailProduct #detailFullInfo img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }
  #detailProduct #detailFullInfo h6 {
    font-size: 16px;
  }
  #detailProduct #detailFullInfo h5 {
    font-size: 24px;
    text-align: center;
  }
  #detailProduct #detailFullInfo p {
    font-size: 20px;
  }
  #detailProduct #detailFullInfo div button {
    font-size: 28px;
  }
  #about {
    margin: 100px 0;
  }
  #about #aboutInfo {
    display: block;
    font-size: 20px;
  }
  #about #aboutGroup {
    margin: 50px 0;
    display: block;
  }
  #about #aboutGroup #aboutMember {
    margin: 40px 0;
    padding: 40px;
    width: 100%;
  }
  #about #aboutGroup #aboutMember h1 {
    font-size: 30px;
    margin: 30px 0;
  }
  #about #aboutGroup #aboutMember img {
    object-fit: cover;
    width: 400px;
    height: 400px;
  }
  #about #aboutGroup #aboutMember p,
  #about #aboutGroup #aboutMember p:last-child {
    margin: 30px 0;
    font-size: 24px;
  }
  #about #aboutGroup #aboutMember p:last-child br {
    display: none;
  }
  #contact {
    margin: 100px 0;
  }
  #contact #contactContent {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  #contactContent #contact-form {
    padding: 30px;
    margin: 0 30px 50px 0;
  }
  #contactContent #contact-form label {
    font-size: 30px;
  }
  #contactContent #contact-form input,
  #contactContent #contact-form textarea {
    font-size: 20px;
  }
  #contactContent #contact-form button {
    font-size: 28px;
  }
  #contactContent #contact-map iframe {
    width: 100%;
    height: 350px;
  }
  #contactContent #contact-map #contactInfo {
    margin: 50px 0px 50px 0;
  }
  #contactContent #contact-map #contactInfo p {
    padding-right: 0px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  /*------------------ start cart page ------------------------*/
  #cartPage {
    margin: 100px 0;
  }
  #cartPage #cartPageContent {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  #cartPage #cartPageContent #cartList {
    display: flex;
    margin: 0 20px 30px 0;
    padding: 15px 0;
  }
  #cartPage #cartPageContent #cartList h1 {
    color: #58c75c;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  #cartPage #cartPageContent #cartList p {
    margin-bottom: 30px;
  }
  #cartPage #cartPageContent #cartList #cartImage {
    width: 50%;
  }
  #cartPage #cartPageContent #cartList #cartImage img {
    width: 100%;
    height: 200px;
  }
  #cartPage #cartPageContent #cartList #cartInfo {
    width: auto;
  }
  #cartPage #cartPageContent #cartForm {
    margin: 0;
    padding: 30px 20px;
  }
  #cartPage #cartPageContent #cartForm h1 {
    line-height: 30px;
  }
  /*------------------ end cart page ------------------------*/
  footer #footer-item {
    text-align: center;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer #footer-item div {
    margin-right: 0;
  }
  footer #footer-item div p {
    font-size: 20px;
    margin: 30px 0;
  }
  footer #footer-item div h1 {
    font-size: 30px;
    line-height: 25px;
    margin: 40px 0;
  }
  footer #footer-item div #footer-logo {
    margin-bottom: 30px;
  }
  #footer-item #footer-form form {
    width: 100%;
    margin-bottom: 20px;
  }
  #footer-item #footer-form form div {
    width: 100%;
  }
  #footer-item #footer-form form input[type="text"] {
    font-size: 20px;
  }
  #footer-item #footer-form form textarea {
    font-size: 20px;
  }
  #footer-item #footer-form form button {
    font-size: 20px;
  }
  #footer-item #footer-form i {
    font-size: 30px;
  }
  footer #footer-copy-right {
    padding: 30px 0;
  }
  footer #footer-copy-right p {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  #special {
    margin: 100px 0;
    /* padding: 0 20px; */
    height: 100%;
  }
  #specialContent {
    display: block;
    width: 100%;
    height: 100%;
  }
  #specialProduct {
    width: 100%;
    height: 400px;
  }
  #specialContent #specialContentContext {
    width: 100%;
    margin: 20px 0 0 0;
    display: block;
  }
  .specialProMenu {
    height: fit-content;
  }
  .slide {
    padding: 0 20px;
    height: 100%;
  }
  .slide img {
    width: 350px;
    height: 350px;
  }
  .slide p {
    font-size: 20px;
  }
  #detailProduct {
    margin: 100px 0;
  }
  #detailProduct #detailContent {
    display: block;
  }
  #detailProduct #detailContent img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
  #detailProduct #detailContent #detailInfo h1 {
    font-size: 40px;
    line-height: 30px;
    text-align: center;
  }
  #detailProduct #detailContent #detailInfo p {
    font-size: 20px;
  }
  #detailProduct #detailContent #detailInfo button {
    font-size: 26px;
  }
  #detailProduct #detailFullInfo h1 {
    margin-bottom: 50px;
    font-size: 40px;
    text-align: left;
  }
  #detailProduct #detailFullInfo h3 {
    font-size: 30px;
    line-height: 30px;
  }
  #detailProduct #detailFullInfo img {
    width: 100%;
    height: 450px;
    object-fit: contain;
  }
  #detailProduct #detailFullInfo h6 {
    font-size: 16px;
  }
  #detailProduct #detailFullInfo h5 {
    font-size: 26px;
    line-height: 30px;
    text-align: left;
  }
  #detailProduct #detailFullInfo p {
    font-size: 20px;
  }
  #detailProduct #detailFullInfo div button {
    font-size: 26px;
  }
  #about {
    margin: 100px 0;
  }
  #about #aboutInfo {
    display: block;
    font-size: 20px;
  }
  #about #aboutGroup {
    margin: 50px 0;
    display: block;
  }
  #about #aboutGroup #aboutMember {
    margin: 40px 0;
    padding: 40px;
    width: 100%;
  }
  #about #aboutGroup #aboutMember h1 {
    font-size: 30px;
    margin: 30px 0;
  }
  #about #aboutGroup #aboutMember img {
    width: 400px;
    height: 400px;
  }
  #about #aboutGroup #aboutMember p,
  #about #aboutGroup #aboutMember p:last-child {
    margin: 30px 0;
    font-size: 24px;
  }
  #about #aboutGroup #aboutMember p:last-child br {
    display: none;
  }
  #contact {
    margin: 100px 0;
  }
  #contact #contactContent {
    display: block;
  }
  #contactContent #contact-form {
    padding: 30px;
    margin: 0 0 50px 0;
  }
  #contactContent #contact-form label {
    font-size: 30px;
  }
  #contactContent #contact-form input,
  #contactContent #contact-form textarea {
    font-size: 20px;
  }
  #contactContent #contact-form button {
    font-size: 28px;
  }
  #contactContent #contact-map iframe {
    width: 100%;
    height: 350px;
  }
  #contactContent #contact-map #contactInfo {
    margin: 50px 0px 50px 0;
  }
  #contactContent #contact-map #contactInfo p {
    padding-right: 0px;
    margin-bottom: 20px;
    font-size: 20px;
  }
  /*------------------ start cart page ------------------------*/
  #cartPage {
    margin: 100px 0;
  }
  #cartPage #cartPageContent {
    display: block;
  }
  #cartPage #cartPageContent p {
    font-size: 20px;
    margin: 30px 0;
  }
  #cartPage #cartPageContent #cartList {
    display: flex;
    margin: 0;
    padding: 0;
  }
  #cartPage #cartPageContent #cartList h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    margin-top: 30px;
  }
  #cartPage #cartPageContent #cartList p {
    font-size: 20px;
    margin: 30px 0;
  }
  #cartPage #cartPageContent #cartList #cartImage {
    width: 50%;
    text-align: center;
  }
  #cartPage #cartPageContent #cartList #cartImage button {
    margin-bottom: 20px;
  }
  #cartPage #cartPageContent #cartList #cartImage img {
    width: 100%;
    height: 250px;
  }
  #cartPage #cartPageContent #cartList #cartInfo {
    width: 100%;
  }
  #cartPage #cartPageContent #cartForm {
    margin: 50px 0 0 0;
    padding: 20px;
  }
  #cartPage #cartPageContent #cartForm h1 {
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    color: white;
  }
  #cartPage #cartPageContent #cartForm label {
    font-size: 30px;
  }
  #cartPage #cartPageContent #cartForm input,
  #cartPage #cartPageContent #cartForm textarea {
    font-size: 20px;
  }
  #cartPage #cartPageContent #cartForm button {
    font-size: 26px;
  }
  /*------------------ end cart page ------------------------*/
  footer #footer-item {
    text-align: center;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  footer #footer-item div {
    /* width: 100%; */
    margin-right: 0;
  }
  footer #footer-item div p {
    font-size: 20px;
    margin: 30px 0;
  }
  footer #footer-item div h1 {
    font-size: 30px;
    line-height: 25px;
    margin: 40px 0;
  }
  footer #footer-item div #footer-logo {
    margin-bottom: 30px;
  }
  #footer-item #footer-form form {
    width: 100%;
    margin-bottom: 20px;
  }
  #footer-item #footer-form form div {
    width: 100%;
  }
  #footer-item #footer-form form input[type="text"] {
    font-size: 20px;
  }
  #footer-item #footer-form form textarea {
    font-size: 20px;
  }
  #footer-item #footer-form form button {
    font-size: 20px;
  }
  #footer-item #footer-form i {
    font-size: 30px;
  }
  footer #footer-copy-right {
    padding: 30px 0;
  }
  footer #footer-copy-right p {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  #label {
    margin: 0 0 50px 0;
    font-size: 30px;
    line-height: 30px;
  }
  #menuCollapse {
    padding: 15px;
  }
  #menuCollapse ol {
    padding: 10px 15px;
  }
  #menuCollapse ul ol li {
    font-size: 20px;
    padding: 8px 0;
  }
  #menuCollapse ul li {
    font-size: 25px;
    padding: 10px 0;
  }
  #menuCollapse button {
    font-size: 25px;
  }
  #menuCollapse ul li input[type="search"] {
    font-size: 25px;
    width: 180px;
  }
  #banner {
    margin: 77px 0 0 0;
  }
  #banner div img {
    width: 100vw;
    height: 250px;
  }
  #productCart {
    margin: 50px 0;
    padding: 0 30px;
  }
  #productCart #listCart {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
    gap: 20px;
  }
  #productCart #listCart #itemCart {
    padding: 20px;
    width: auto;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.2);
  }
  #productCart #listCart #itemCart img {
    width: 280px;
    height: 280px;
  }
  #about {
    padding: 0 30px 50px 30px;
  }
  #special {
    margin: 100px 0;
    padding: 0 20px;
    height: 380px;
  }
  #specialContent {
    display: block;
    width: 100%;
    height: 100%;
  }
  #specialProduct {
    width: 100%;
    height: 300px;
  }
  #specialContent #specialContentContext {
    width: 100%;
    display: none;
  }
  .specialProMenu {
    height: fit-content;
  }
  .slide {
    padding: 0 20px;
  }
  .slide img {
    object-fit: fill;
    width: 280px;
    height: 280px;
  }
  .slide p {
    font-size: 20px;
  }
  #detailProduct {
    margin: 50px 0;
    padding: 0 30px;
  }
  #detailProduct #detailContent {
    display: block;
  }
  #detailProduct #detailContent img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  #detailProduct #detailContent #detailInfo h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }
  #detailProduct #detailContent #detailInfo p {
    font-size: 20px;
  }
  #detailProduct #detailContent #detailInfo button {
    font-size: 24px;
  }
  #detailProduct #detailFullInfo h1 {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }
  #detailProduct #detailFullInfo h3 {
    font-size: 26px;
    line-height: 30px;
  }
  #detailProduct #detailFullInfo img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  #detailProduct #detailFullInfo h6 {
    font-size: 14px;
  }
  #detailProduct #detailFullInfo h5 {
    font-size: 22px;
    text-align: center;
  }
  #detailProduct #detailFullInfo p {
    font-size: 20px;
  }
  #detailProduct #detailFullInfo div button {
    font-size: 24px;
  }
  #about {
    margin: 80px 0;
  }
  #about #aboutInfo {
    display: block;
    font-size: 16px;
  }
  #about #aboutGroup {
    margin: 50px 0;
    display: block;
  }
  #about #aboutGroup #aboutMember {
    margin: 30px 0;
    padding: 25px;
    width: 100%;
  }
  #about #aboutGroup #aboutMember h1 {
    font-size: 22px;
  }
  #about #aboutGroup #aboutMember img {
    width: 250px;
    height: 250px;
  }
  #about #aboutGroup #aboutMember p,
  #about #aboutGroup #aboutMember p:last-child {
    margin: 20px 0;
    font-size: 18px;
  }
  #about #aboutGroup #aboutMember p:last-child br {
    display: block;
  }
  #contact {
    margin: 50px 0;
    padding: 0 30px;
  }
  #contact #contactContent {
    display: block;
  }
  #contactContent #contact-form {
    padding: 20px;
    margin: 0 0 50px 0;
  }
  #contactContent #contact-form label {
    font-size: 24px;
  }
  #contactContent #contact-form input,
  #contactContent #contact-form textarea {
    font-size: 20px;
  }
  #contactContent #contact-form button {
    font-size: 26px;
  }
  #contactContent #contact-map iframe {
    width: 100%;
    height: 300px;
  }
  #contactContent #contact-map #contactInfo {
    margin: 50px 0px 50px 0;
  }
  #contactContent #contact-map #contactInfo p {
    padding-right: 0px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  /*------------------ start cart page ------------------------*/
  #cartPage {
    margin: 50px 0;
    padding: 0 30px;
  }
  #cartPage #cartPageContent {
    display: block;
  }
  #cartPage #cartPageContent p {
    font-size: 20px;
    margin: 30px 0;
  }
  #cartPage #cartPageContent #cartList {
    display: block;
    margin: 0;
    padding: 0;
  }
  #cartPage #cartPageContent #cartList h1 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
  }
  #cartPage #cartPageContent #cartList p {
    font-size: 20px;
    margin: 30px 0;
  }
  #cartPage #cartPageContent #cartList #cartImage {
    width: 100%;
    text-align: center;
  }
  #cartPage #cartPageContent #cartList #cartImage img {
    width: 250px;
    height: 200px;
  }
  #cartPage #cartPageContent #cartList #cartInfo {
    width: 100%;
  }
  #cartPage #cartPageContent #cartForm {
    margin: 0;
    padding: 20px;
  }
  #cartPage #cartPageContent #cartForm h1 {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: white;
  }
  #cartPage #cartPageContent #cartForm label {
    font-size: 24px;
  }
  #cartPage #cartPageContent #cartForm input,
  #cartPage #cartPageContent #cartForm textarea {
    font-size: 20px;
  }
  #cartPage #cartPageContent #cartForm button {
    font-size: 24px;
  }
  /*------------------ end cart page ------------------------*/
  /*------------------ start login ------------------------*/
  #login-page {
    padding: 80px 30px;
  }
  #form {
    width: 100%;
    margin: 0;
  }
  #form form {
    padding: 25px;
  }
  #form form label {
    font-size: 24px;
  }
  #form form label:first-child {
    font-size: 30px;
  }
  #form form input {
    font-size: 20px;
  }
  /*------------------ end login ------------------------*/
  footer #footer-item {
    text-align: center;
    padding: 30px;
    display: block;
  }
  footer #footer-item div {
    width: 100%;
    margin-right: 0;
  }
  footer #footer-item div p {
    font-size: 18px;
    margin: 25px 0;
  }
  footer #footer-item div h1 {
    font-size: 24px;
    line-height: 25px;
    margin: 30px;
  }
  footer #footer-item div #footer-logo {
    margin-bottom: 30px;
    cursor: pointer;
  }
  #footer-item #footer-form form {
    width: 100%;
    margin-bottom: 20px;
  }
  #footer-item #footer-form form div {
    width: 100%;
  }
  #footer-item #footer-form form input[type="text"] {
    font-size: 18px;
  }
  #footer-item #footer-form form textarea {
    font-size: 18px;
  }
  #footer-item #footer-form form button {
    font-size: 18px;
  }
  #footer-item #footer-form i {
    font-size: 20px;
  }
  footer #footer-copy-right {
    padding: 30px 0;
  }
  footer #footer-copy-right p {
    font-size: 20px;
  }
}
@media screen and (max-width: 360px) {
  #btnViewMore {
    font-size: 22px;
  }
  #label {
    margin: 0 0 40px 0;
    font-size: 24px;
    line-height: 30px;
  }
  header {
    padding: 8px 10px;
  }
  header #headerMenu #headerLogo img {
    object-fit: contain;
    width: 100px;
  }
  header #headerMenu #headerNavBarBtnCollaspe {
    padding-right: 10px;
  }
  header #headerMenu #headerNavBarBtnCollaspe button {
    font-size: 22px;
  }
  #menuCollapse {
    top: 56px;
    padding: 15px;
  }
  #menuCollapse ol {
    padding: 10px 15px;
  }
  #menuCollapse ul ol li {
    font-size: 16px;
    padding: 8px 0;
  }
  #menuCollapse ul li {
    font-size: 18px;
    padding: 10px 0;
  }
  #menuCollapse button {
    font-size: 18px;
  }
  #menuCollapse ul li input[type="search"] {
    font-size: 18px;
    width: 140px;
  }
  #banner {
    margin: 58px 0 0 0;
  }
  #banner div img {
    width: 100vw;
    height: 250px;
  }
  #productCart {
    margin: 50px 0;
    padding: 0 20px;
  }
  #productCart #listCart {
    display: grid;
    grid-template-columns: 1fr;
    margin: 20px 0;
    gap: 20px;
  }
  #productCart #listCart #itemCart {
    padding: 15px;
    width: auto;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(71, 71, 71, 0.2);
  }
  #productCart #listCart #itemCart p {
    padding: 0;
    font-size: 16px;
  }
  #productCart #listCart #itemCart img {
    width: 250px;
    height: 250px;
  }
  #special {
    margin: 80px 0;
    padding: 0 20px;
    height: 350px;
  }
  #specialContent {
    display: block;
    width: 100%;
    height: 100%;
  }
  #specialProduct {
    width: 100%;
    height: 300px;
  }
  #specialContent #specialContentContext {
    width: 100%;
    display: none;
  }
  .specialProMenu {
    height: fit-content;
  }
  .slide {
    padding: 0 20px;
  }
  .slide img {
    object-fit: fill;
    width: 250px;
    height: 250px;
  }
  .slide p {
    font-size: 16px;
  }
  #detailProduct {
    margin: 80px 0;
    padding: 0 20px;
  }
  #detailProduct #detailContent {
    display: block;
  }
  #detailProduct #detailContent img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  #detailProduct #detailContent #detailInfo h1 {
    font-size: 24px;
    text-align: center;
  }
  #detailProduct #detailContent #detailInfo p {
    font-size: 16px;
  }
  #detailProduct #detailContent #detailInfo button {
    font-size: 20px;
  }
  #detailProduct #detailFullInfo h1 {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
  }
  #detailProduct #detailFullInfo h3 {
    font-size: 20px;
  }
  #detailProduct #detailFullInfo img {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  #detailProduct #detailFullInfo h6 {
    font-size: 12px;
  }
  #detailProduct #detailFullInfo h5 {
    font-size: 20px;
    text-align: center;
  }
  #detailProduct #detailFullInfo p {
    font-size: 16px;
  }
  #detailProduct #detailFullInfo div button {
    font-size: 20px;
  }
  #about {
    margin: 50px 0 80px 0;
    padding: 0 20px;
  }
  #about #aboutInfo {
    display: none;
  }
  #about #aboutGroup {
    margin: 50px 0;
    display: block;
    gap: 0;
  }
  #about #aboutGroup #aboutMember {
    margin: 30px 0;
    padding: 20px;
    width: 100%;
  }
  #about #aboutGroup #aboutMember h1 {
    font-size: 20px;
  }
  #about #aboutGroup #aboutMember p {
    margin: 20px 0;
    font-size: 16px;
  }
  #about #aboutGroup #aboutMember p:last-child br {
    display: block;
  }
  #contact {
    margin: 50px 0;
    padding: 0 20px;
  }
  #contact #contactContent {
    display: block;
  }
  #contactContent #contact-form {
    padding: 20px;
    margin: 0 0 50px 0;
  }
  #contactContent #contact-form label {
    font-size: 20px;
  }
  #contactContent #contact-form input,
  #contactContent #contact-form textarea {
    font-size: 16px;
  }
  #contactContent #contact-form button {
    font-size: 20px;
  }
  #contactContent #contact-map iframe {
    width: 100%;
    height: 250px;
  }
  #contactContent #contact-map #contactInfo {
    margin: 50px 0px 50px 0;
  }
  #contactContent #contact-map #contactInfo p {
    padding-right: 0px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  /*------------------ start cart page ------------------------*/
  #cartPage {
    margin: 50px 0;
    padding: 0 20px;
  }
  #cartPage #cartPageContent {
    display: block;
  }
  #cartPage #cartPageContent p {
    font-size: 16px;
    margin: 20px 0;
  }
  #cartPage #cartPageContent #cartList {
    display: block;
    margin: 0;
    padding: 0;
  }
  #cartPage #cartPageContent #cartList h1 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
  }
  #cartPage #cartPageContent #cartList p {
    font-size: 16px;
    margin: 20px 0;
  }
  #cartPage #cartPageContent #cartList #cartImage {
    width: 100%;
    text-align: center;
  }
  #cartPage #cartPageContent #cartList #cartImage img {
    width: 250px;
    height: 200px;
  }
  #cartPage #cartPageContent #cartList #cartInfo {
    width: 100%;
  }
  #cartPage #cartPageContent #cartForm {
    margin: 0;
    padding: 20px;
  }
  #cartPage #cartPageContent #cartForm h1 {
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    color: white;
  }
  #cartPage #cartPageContent #cartForm label {
    font-size: 20px;
  }
  #cartPage #cartPageContent #cartForm input,
  #cartPage #cartPageContent #cartForm textarea {
    font-size: 16px;
  }
  #cartPage #cartPageContent #cartForm button {
    font-size: 20px;
  }
  /*------------------ end cart page ------------------------*/
  /*------------------ start login ------------------------*/
  #login-page {
    padding: 50px 20px;
  }
  #form {
    width: 100%;
    margin: 0;
  }
  #form form {
    padding: 20px;
  }
  #form form label {
    font-size: 20px;
  }
  #form form label:first-child {
    font-size: 24px;
  }
  #form form input {
    font-size: 16px;
  }
  /*------------------ end login ------------------------*/
  footer #footer-item {
    text-align: center;
    padding: 30px;
    display: block;
  }
  footer #footer-item div {
    width: 100%;
    margin-right: 0;
  }
  footer #footer-item div p {
    font-size: 16px;
    margin: 20px 0;
  }
  footer #footer-item div h1 {
    font-size: 24px;
    line-height: 25px;
    margin: 30px;
  }
  footer #footer-item div #footer-logo {
    margin-bottom: 30px;
    cursor: pointer;
  }
  #footer-item #footer-form form {
    width: 100%;
    margin-bottom: 20px;
  }
  #footer-item #footer-form form div {
    width: 100%;
  }
  #footer-item #footer-form form input[type="text"] {
    font-size: 16px;
  }
  #footer-item #footer-form form textarea {
    font-size: 16px;
  }
  #footer-item #footer-form form button {
    font-size: 18px;
  }
  #footer-item #footer-form i {
    font-size: 20px;
  }
  footer #footer-copy-right {
    display: block;
    background-color: black;
    padding: 30px 0;
  }
  footer #footer-copy-right p {
    color: white;
    font-size: 20px;
    text-align: center;
  }
}
/*--max-height--*/

@media screen and (max-height: 440px) {
}
